<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="cabecalho">
		<nav>
			<div>
				<a>Guide-Resta Admin</a>
				
				<ul th:if="${session.usuarioLogado != null}">
					<li><a href="/listaAdm/1">Administradores</a></li>
					<li><a href="/listaRest/1">Tipos de Restaurante</a></li>
					<li><a href="/listaRestaurante/1">Restaurantes</a></li>
					<li><a href="/logout">Sair</a></li>
					
				</ul>
			</div>
		
		
		</nav>
	</header>

<footer th:fragment="rodape">


</footer>
</body>
</html>