<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="estilo_form.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro do tipo restaurante</title>
</head>
	<body>
	<h1>Cadastro</h1>
	<form method="post" action="salvarRest">
	<input type="hidden" name="id" th:value="${rest?.id}">
		<fieldset>
			<table>
				
				<tr>
					<td><i class="material-icons">assignment_ind</i>Nome:</td>
					<td><input type="text" name="nome" th:value="${rest?.nome}"></td>
				</tr>
				<tr>
					<td><i class="material-icons">email</i>Descrição:</td>
					<td><input type="text" name="descricao" th:value="${rest?.descricao}"></td>
				</tr>
				<tr>
					<td><i class="material-icons">https</i>Palavra-Chave:</td>
					<td><input type="text" name="palavrasChave" th:value="${rest?.palavrasChave}"></td>
				</tr>

				<tr>
					<td><button type="submit">Salvar</button></td>
				</tr>

			</table>
			<div th:replace="fragments/mensagem"></div>

		</fieldset>
	</form>
	<br />


</body>



</html>