<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Restaurantes</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</head>
<body>
	<header th:replace="fragments/padrao::cabecalho"></header>
	<table>
	
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>CEP</th>
				<th>Endereço</th>
				<th>Número</th>
				<th>Bairro</th>
				<th>Cidade</th>
				<th>Complemento</th>
				<th>Descrição</th>
				<th>Horário</th>
				<th>Estado</th>
				<th>Formas de pagamento</th>
				<th>Preço</th>
				<th>Delivery</th>
				<th>Acessibilidade</th>
				<th>Drive-Thru</th>
				<th>Estacionamento</th>
				<th>Playground</th>
				<th>Fotos</th>
				<th>Alterar</th>
				<th>Excluir</th>

			</tr>

		</thead>
		<tbody>
			<tr th:each="restaurante:${restaurantes}">
				<td th:text="${restaurante.id}"></td>
				<td th:text="${restaurante.nome}"></td>
				<td th:text="${restaurante.cep}"></td>
				<td th:text="${restaurante.endereco}"></td>
				<td th:text="${restaurante.numero}"></td>
				<td th:text="${restaurante.bairro}"></td>
				<td th:text="${restaurante.cidade}"></td>
				<td th:text="${restaurante.complemento}"></td>
				<td th:text="${restaurante.descricao}"></td>
				<td th:text="${restaurante.horario}"></td>
				<td th:text="${restaurante.estado}"></td>
				<td th:text="${restaurante.formasPagamento}"></td>
				<td th:text="${restaurante.preco}"></td>
				<td th:text="${restaurante.delivery}"></td>
				<td th:text="${restaurante.acessibilidade}"></td>
				<td th:text="${restaurante.driveThru}"></td>
				<td th:text="${restaurante.estacionamento}"></td>
				<td th:text="${restaurante.playground}"></td>
				<td th:text="${restaurante.fotos}"></td>

				<th><a th:href="@{/alterarRestaurante(id=${restaurante.id})}">Alterar</a></th>
				<th><a
					th:attr="onclick=|return confirm('Deseja excluir o ID: ${restaurante.id}')|"
					th:href="@{/excluirRestaurante(id=${restaurante.id})}">Excluir</a></th>

			</tr>

		</tbody>

	</table>
	
	<ul class="pagination">
		<li th:class="${pagAtual==1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual > 1 ? pagAtual - 1 : '#'}"><i
				class="material-icons">chevron_left</i></a></li>
		
		<li th:class="${pagAtual == p ? 'active blue' : 'waves effect'}" th:each="p:${numPaginas}"><a th:href="${p}"><span
				th:text="${p}"></span></a></li>

		<li
			th:class="${pagAtual == totalPages ? 'disabled' : 'waves-effect' }"><a
			th:href="${pagAtual < totalPages ? pagAtual + 1 : '#'}"><i
				class="material-icons">chevron_right</i></a></li>
	</ul>
	

	<footer th:fragment="fragments/padrao::rodape"></footer>

</body>